/* Nav.module.css */
.navbar {
  background-color: transparent; /* Default background color */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease; /* Smooth transition */
  position: fixed;
  right: 40px;
  top: 30px;
  z-index: 1000;
}

.scrolled {
  background-color: rgba(255, 255, 255, 0.9); /* Adjust opacity and color as needed */
  backdrop-filter: blur(10px); /* Adds the glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for depth */
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: 8px;
  z-index: 30;
  font-size: 18px;
  font-weight: 600;
}

.navLinksHidden {
  display: none;
}

